{% extends "base.html" %}
{% block content %}
    <div class="pixel-panel">
        <div class="panel-frame">
            <div class="panel-header">Удалить пост?</div>
            <div class="panel-body">
                <p>«{{ post.title }}» ({{ post.pet.name }}) будет удалён безвозвратно.</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-pixel">Удалить</button>
                    <a href="{% url 'posts:detail' post.pk %}" class="btn-pixel">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
