POSTGRES_DB=crazy_mops
POSTGRES_USER=crazy_mops
POSTGRES_PASSWORD=crazy_mops
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost