.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.venv/

*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

.vscode/
.idea/
*.swp

.env
*.env

*.sqlite3

#CI/CD
.coverage
htmlcov/
coverage.xml
.pytest_cache/

.obsidian

node_modules/
