{% extends "base.html" %}
{% block title %}Тест каркаса{% endblock title %}
{% block content %}
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
    <h1>Проверка base.html</h1>
    <p>Немного текста, чтобы было видно центральную колонку.</p>
{% endblock content %}
